#storage-info-storage-acc-limit-btn, #storage-info-storage-upload-limit-btn{
    background-color:  hsla(182, 84%, 37%, 0.897);
    width: 6rem;
    min-height: 1.5rem;
    border-radius: 6px;
    color: rgb(211, 199, 35);
}

#storage-info-storage-acc-limit-btn:hover,  #storage-info-storage-upload-limit-btn:hover{
    background-color: hsla(182, 84%, 37%, 0.315);
    
}


#storage-info-used-chart-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
}

#storage-info-used-chart{
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(10, 109, 155);
    height: 1rem;
    width: 98%;
    overflow: hidden;
}

#storage-info-used-chart div{
    background-color: rgb(0, 174, 255);
    width: 2%;
    height: 1rem;
}


#storage-info-used-title, #storage-info-avaible-title{
    color: rgb(184, 180, 180);
}
