#user-manager{
    margin-top: 1%;
}

#user-manager{
    color: white;
    width: 95%;
    padding: 0.5%;

}


#user-manager-title{
    margin: 0;
    padding: 1%;
}



#user-manager-records{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-manager-record{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-bottom:3px solid gray;
    width: 100%;
    min-height: 3.5rem;

}

.user-manager-record > div{
    display: flex;
    align-items: center;
    padding: 0.5%;
}



.user-manager-record > div:not(.user-manager-record-address){
    justify-content: center;

}

.user-manager-record-address{
    width: 55%;
}

.user-manager-record-address:not(:first-child), .user-manager-record-crt-date{
    font-size: 80%;
}

.user-manager-record-address a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.user-manager-record-space-info{
    width: 20%;
}


.user-manager-record-action{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}

.user-manager-record-action-drop,.user-manager-record-action-clean{
    cursor: pointer;
}



.user-manager-record-action-drop{
    color: hsla(7, 89%, 48%, 0.959);
}
.user-manager-record-action-drop:hover{
    color: hsla(7, 89%, 48%, 0.411);
}



.user-manager-record-action-clean{
    color: hsla(197, 89%, 48%, 0.959);
}
.user-manager-record-action-clean:hover{
    color: hsla(197, 89%, 48%, 0.39);
}



@media(max-width:968px){

    #user-manager{
        width: 100%;
        margin-top: 3%;
    }
    
    .user-manager-record-address{
        width: 38%;
        font-size: 60%;
    }

  

    .user-manager-record-space-info{
        width: 17%;
    }

    .user-manager-record-crt-date{
        width: 22%;
    }

    .user-manager-record-action{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        text-align: center;
        font-size: 80%;
    }

}

