/composes/*
!/composes/.gitkeep

/test


/postgres_db_docker/data/*
!/postgres_db_docker/data/.gitkeep

/redis/data/*
!/redis/data/.gitkeep

/backend_fastapi/app_self/__STORAGE_VAULT/.upload_tokens/*
!/backend_fastapi/app_self/__STORAGE_VAULT/.upload_tokens/.gitkeep

/backend_fastapi/app_self/__STORAGE_VAULT/USERS/*
!/backend_fastapi/app_self/__STORAGE_VAULT/USERS/.gitkeep

/backend_fastapi/app_self/__STORAGE_VAULT/ZIP_ARCS/*
!/backend_fastapi/app_self/__STORAGE_VAULT/ZIP_ARCS/.gitkeep