


#fetching-data-animation{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    width: 30dvw;
    height: 30dvw;
}

#fetching-data-animation-spin{
    border-radius: 50%;
    border:8px solid rgb(8, 145, 224);
    border-top-color: rgb(0, 68, 255);
    width: 100%;
    height: 100%;
    animation: spin 1s infinite ease-in-out
}


@media(max-width:968px){
    #fetching-data-animation{
        width: 40dvw;
        height: 40dvw;
    }
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}