


#home-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    z-index: 999999;
    margin-top: 0.5%;
    margin-bottom: 1.5%;
}



#disk-cloud-btn{
    white-space: nowrap;
    padding: 0.5%;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;

}

#finder{
    border:2px solid gray;
    border-radius: 30px;
    width: 100%;
    outline: none;
    height: 4rem;
    padding: 1%;
}

#settings-btn{
    height: 100%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings-img{
    /* height: 2/5rem !important; */
    width: 2.5rem;
    transform: rotate(0deg);
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}


#settings-img:hover{
    transform: rotate(360deg);
}



#special_download_btn img{
    pointer-events: none !important;
}

#special_download_btn{
    cursor: pointer;
}

#special_download_btn, #rem_btn-1 {
    opacity: 0.6 ;
    pointer-events: none ;
}


@media(max-width:968px){
    #home-panel{
        margin-top: 2%;
    }

    #finder{
        height: 3rem;
        padding: 2%;
    }
    
}