



#mkdir-tab{
    border-radius: 7px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 30%;
    padding: 2%;
    background-color: #121212;
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px  10px 5px rgb(20, 20, 20);
}

#mkdir-tab-title{
    padding: 1%;
    width: 100%;
}

#mkdir-tab input{
    border:3px solid gray;
    border-radius: 7px;
    width: 100%;
    padding: 1%;
    outline: none;
    height: 2.8rem;
}


#mkdir-tab-btns-placeholder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0.5%;
    width: 100%;
    margin-top: 8%;
}

#mkdir-tab-btns-placeholder div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 8px;
}

#mkdir-tab-btns-placeholder label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

#mkdir-tab-btns-placeholder label input{
    border:3px solid blue;
    height: 1rem;
    width: 1.5rem;
}

#mkdir-tab-btns-placeholder-cancel{
    color: rgb(0, 162, 255);
}


@media(max-width:968px){
    #mkdir-tab{
        width: 100%;
        border-radius: 0px;
        top: 40%;
        transform: translate(-50%,-40%);
    }
}
