


*{
    transition:  0.2s;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;
}




.data-select-option-special{
    cursor: pointer;
}


#user-info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}


#user-info-panel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 2rem;
    width: 100%;
    background-color: #161616;
}


#user-info-panel div{
    height: 100%;
}
 
#div-canvas{
    opacity: 0.3 !important;
    position: absolute;
    border:3px solid rgb(0, 174, 255);
    background-color: rgb(111, 0, 255);
    opacity:0.6;
    transition: none;
    z-index: 9999999;
    height: 0;
    display: none;
}

#user-info-panel div img{
    cursor: pointer;
    height: 2rem !important;
}

#data-section-records{
    width: 100%;
    height: 90dvh;
    overflow: overlay;
    padding: 0%;
    transition: none;
}

#data-section-records, #data-section-records * {
    user-select: none;
}


#data-section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    user-select: none;
    padding: 1.5%;
    padding-bottom: 0;
    border-radius: 20px;
    background-color: #161616;
    box-shadow: 2px 2px 10px rgb(24, 24, 24);
    margin-left: 0%;
}

#user-info-placeholder{
    width: 100% !important;
    background-color: #1b1b1b;
}

.data-section-record{
    border-bottom: 2px solid gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.7rem;
    background-color: #2b2b2b;
    background-color: #161616;
}


@media(min-width:968px){
    .data-section-record_hover{
        background-color: rgb(77, 75, 75);
    }
}





.data_section_record_selected{
    background-color: rgb(11, 96, 177);
    opacity: 0.2;
}

.data-section-record > div {
    padding: 0.5%;
    height: 3rem;
}

.data-select-option{
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media(min-width: 968px){
    .data-select-option{
        visibility: hidden;
        position: absolute;
    }

}




.data-item-name{
    width: 65% ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow-wrap: nowrap;
    white-space: nowrap;
    padding: 0.5% !important;
    overflow: hidden;
    user-select: none !important;

}

.data-item-name > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

.data-item-name-item{
    width: 100%;
    cursor: pointer;
}


.data-last-changes{
    width: 15% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.data-size{
    width: 15% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.data-action{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% !important;
    overflow: hidden;
    
}

.data-section-owner{
    width: 20%;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}





#special_download_btn, #rem_btn-1,#upload_file_btn, #upload_dir_btn, #mkdir_btn{
    pointer-events: none;
    opacity: 0.6;
}


#user-info-panel-actions-controls > div, #mkdir-placeholder > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 3rem !important;
    padding: 1%;
}



#user-info-panel-actions-controls > div:not(#upload_file_btn), #mkdir-placeholder > div{
    border-bottom:2px solid gray;
}


#user-info-panel-actions-controls > div:hover,  #mkdir-placeholder > div:hover{
    background-color: gray;
    cursor: pointer;
}

#mkdir-placeholder #mkdir_btn, #rem-dups{
    border:none !important;
    padding: 0%;
}



#upload_file_btn img, #upload_dir_btn img, #mkdir_btn img, #rem-dups img{
    height: 2rem !important;
    width: 2.5rem !important;
    margin-right: 2%;
}



#user-info-panel img{
    height: 3rem !important;
}

#user-info-panel-actions{
    min-width: 10%;
    padding: 0.5%;
    cursor: pointer;

}

#user-info-panel-actions-btn{
    border:2px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% !important;
    background-color: rgb(60, 70, 77);
    height: 2rem !important;
    overflow: hidden;
}

#user-info-panel-actions-btn:hover{
    background-color: rgb(51, 58, 63);
}

#user-info-panel-actions-btn img{
    font-size: 150% !important;
    max-height:  1.4rem !important;
    padding: 1%;
}


#user-info-panel-actions-controls{
    border:2px solid gray;
    border-top-right-radius: 0px !important;
    border-radius: 7px;
    position: absolute !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 9999999;
    height: auto !important;
    background-color: #2b2b2b;
    overflow: hidden;
    min-width: 30%;
    box-shadow: 0px 0px 10px 6px rgb(20, 20, 20);
}


#user-info-panel-actions, #special_download_btn, #rem_btn-1, #move-items-pd-btn{
    z-index: 99999;
}

 #move-items-pd-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
 }


#no-items-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#no-items-div h1{
    font-weight: bold;
    font-size: 150%;
}
#no-items-div h2{
    font-size: 120%;
}




#rem_btn-1, #rem_btn-1pic, #special_download_btn, #move-items-pd-btn, #move-items-pd-btn *{
    pointer-events: none !important;
    opacity: 0.6 !important;
}




@media(max-width:768px){
    .data-last-changes,.data-size{
        display: none;
    }
    .data-action{
        width: 15%;
    }
    .data-section-owner{
        width: 30%;
    }
     .data-select-option{
        width: 10%;
    }
    .data-item-name{
        width:70% !important;
        font-size: 80%;
    }
    .data-item-name:first-child{
        width: 80% !important;
    }
     #user-info-panel-actions{
        width: 25%;
    } 
    #data-section-records{
        height: 70dvh !important;
    }
    .data-item-name-item{
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #user-info-panel-actions-btn{
        margin: 0 !important;
        padding: 0 !important;
    }
    #user-info-panel-actions{
        margin: 0 !important;
        padding: 0.5% !important;
        width: 21%;
    }
}











.data-select-option-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.data-select-option-checkbox:hover {
  border-color: orange;
  box-shadow: 0 0 4px rgba(255, 165, 0, 0.6);
}

.data-select-option-checkbox:checked {
  background-color: orange;
  border-color: orange;
}

.data-select-option-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




.data-item-name, .data-item-name * {
    user-select: none !important;
}