



#quick_action_confirmation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border:3px solid orange; */
    padding: 0%;
    min-width: 40%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2b2b2b;
    box-shadow: 0 0 5px 4px rgb(19, 18, 18);
    z-index: 999999;

}


#quick_action_confirmation-title{
    padding: 2%;
    font-weight: bold;
    color: rgb(10, 184, 214);
    border-bottom: gray 3px solid;
    width: 100%;
}

#quick_action_confirmation-content{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 2%;
}

#quick_action_confirmation-content-pic{
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quick_action_confirmation-content-text-placeholder{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}

#quick_action_confirmation-content-text{
    width: 100%;
    word-break: break-word; 
    overflow-wrap: break-word; 
}

#quick_action_confirmation-bts-placeholder{
    width: 100%;
    border-top: gray 3px solid;
}

#quick_action_confirmation-bts{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 2%;
}


#quick_action_confirmation-bts-cancel{
    color: rgb(163, 11, 11);
}
#quick_action_confirmation-bts-cancel:hover{
    color: rgb(105, 8, 8);
}


#quick_action_confirmation-bts-confirm{
    color: rgb(0, 183, 255)
}
#quick_action_confirmation-bts-confirm:hover{
    color: rgb(11, 95, 128)
}

@media(max-width:968px){
    #quick_action_confirmation{
        width: 100%;
    }
}